/*
   FLEX JUSTIFY CONTENT
*/
.jc-fs { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.jc-f3 { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.jc-c { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.jc-sb { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.jc-sa { -ms-flex-pack: distribute; justify-content: space-around; }
.jc-i { -webkit-box-pack: inherit; -ms-flex-pack: inherit; justify-content: inherit; }
@media screen and (min-width: 48em) {
 .jc-fs-ns { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
 .jc-f3-ns { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
 .jc-c-ns { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
 .jc-sb-ns { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
 .jc-sa-ns { -ms-flex-pack: distribute; justify-content: space-around; }
 .jc-i-ns { -webkit-box-pack: inherit; -ms-flex-pack: inherit; justify-content: inherit; }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .jc-fs-m { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
 .jc-f3-m { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
 .jc-c-m { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
 .jc-sb-m { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
 .jc-sa-m { -ms-flex-pack: distribute; justify-content: space-around; }
 .jc-i-m { -webkit-box-pack: inherit; -ms-flex-pack: inherit; justify-content: inherit; }
}
@media screen and (min-width: 64em) {
 .jc-fs-l { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
 .jc-f3-l { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
 .jc-c-l { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
 .jc-sb-l { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
 .jc-sa-l { -ms-flex-pack: distribute; justify-content: space-around; }
 .jc-i-l { -webkit-box-pack: inherit; -ms-flex-pack: inherit; justify-content: inherit; }
}

